<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Beckhoff.TwinCAT.HMI.Controls" version="12.762.53" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics" version="19.0.214" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnostics.Meta" version="1.1.214" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.EcDiagnosticsControl" version="12.762.53" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Framework" version="12.762.53" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.Functions" version="12.762.53" allowedVersions="[,13)" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.PDFViewer" version="12.762.53" targetFramework="native1.12-tchmi" />
  <package id="Beckhoff.TwinCAT.HMI.SqliteHistorize" version="19.0.214" targetFramework="native1.12-tchmi" />
  <package id="GTAC_TcUI_PostgreSQL" version="1.12.760.5909" targetFramework="native1.12-tchmi" />
</packages>